Source: libtertiusqbit-application-model-api-soap-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtertiusqbit-perl, libtertiusqbit-application-model-api-perl, libsoap-lite-perl, libdata-rmap-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-application-model-api-soap-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libtertiusqbit-application-model-api-perl, libsoap-lite-perl, libdata-rmap-perl
Conflicts: libqbit-application-model-api-soap-perl
Replaces: libqbit-application-model-api-soap-perl
Description: Base class for construct SOAP API connectors.
 Base class for construct SOAP API connectors.
